# Node
node_modules/
dist/

# Env
.env
backend/.env
frontend/.env

# Terraform
terraform/.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Keys
*.pem
*.key

# Logs
npm-debug.log

# Large binaries
minikube-linux-amd64
minikube-darwin-amd64
minikube.exe